:root {
  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --bg0: #F5E8C7;
  --bg1: #ECCCB2;
  --bg2: #DEB6AB;
  --bg3: #AC7088;
  --bg3: #222739;
  /* use --xxx-tri-x like this:
    rgb(var(--main-highlight-tri-0))
    rgb(var(--main-highlight-tri-0),0.15)
  */
  --main-accent-tri-0: 34, 39, 57;
  --main-highlight-tri-0: 0, 96, 223;
}